{% extends 'pypass/base.html' %}

{% block title %}{{web_title}}{% endblock %}

{% block content %}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" method="post" action="{% url 'pypass:register' %}">
                            <!-- Start: CSRF Token -->
                            {% csrf_token %}
                            <!-- End: CSRF Token -->
                            <!-- Start: Username -->
                            <div class="form-group">
                                {% if form.username.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.username.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ form.username }}
                            </div>
                            <!-- End: Username -->
                            <!-- Start: First/Last Name -->
                            {% if form.last_name.errors or form.last_name.errors %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {% if form.first_name.errors %}
                                        <div class="alert alert-danger">
                                            {% for error in form.first_name.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-6">
                                    {% if form.last_name.errors %}
                                        <div class="alert alert-danger">
                                            {% for error in form.last_name.errors %}
                                                {{ error|escape }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.first_name }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <!-- End: First/Last Name -->
                            <!-- Start: Email -->
                            <div class="form-group">
                                {% if form.email.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.email.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {{ form.email }}
                            </div>
                            <!-- End: Email -->
                            <!-- Start: Password -->
                            <div class="form-group">
                                {% if form.password2.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.password2.errors %}
                                        <span>{{ error }}</span><br/>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="input-group">
                                        {{ form.password1 }}
                                        <div class="input-group-append show-password">
                                            <div class="input-group-text"
                                                 style="border-top-right-radius: 10rem;border-bottom-right-radius: 10rem;">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        {{ form.password2 }}
                                        <div class="input-group-append show-password">
                                            <div class="input-group-text"
                                                 style="border-top-right-radius: 10rem;border-bottom-right-radius: 10rem;">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Password -->
                            <input type="submit" id="registerInputSubmit"
                                           class="btn btn-primary btn-user btn-block" value="Register Account"/>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{% url 'pypass:login' %}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}