<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Pypass - {{ web_title }}{% endblock %}</title>

    {% load static %}
    <!-- Custom fonts for this template-->
    <link href="{% static 'pypass/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for all pages-->
    <link href="{% static 'pypass/css/pypass_common.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}

</head>

<body id="page-top" class="bg-gradient-primary">

    {% block content %}
    {% endblock %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'pypass/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'pypass/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'pypass/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'pypass/js/pypass_common.js' %}"></script>
    {% block extra_js %}{% endblock %}

</body>

</html>